/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/backend/assets
/public/studentimage/
/public/adminlte/
/public/studentpdfform137/
/public/logsstyle/
/public/sliderpicture/
/public/frontend/
/public/honorabledismissal/
/public/ncaeresult/
/public/transcriptofrecords/
/public/StudentTrueCopyOfGrades/
/public/studentpdfform138/
/public/studentGoodmoral/
/public/StudentBirthcertificate/
/public/PoliceClearance/
/public/backend/login/

